@import "mixins.lessimport";
@import "colors.lessimport";

body {
  color: @body-text;
  background-color: @background;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.buttonBar {
  float: right;
}

.content {
  width: 960px;
  padding: 10px;
  margin: 60px auto 0;
}

.card-field {
  height: 600px;
}

.card-field .card {
  .transition(background-color 0.3s ease-out);
}

.card-entry, .card-entry input {
  padding: 5px;
  font-size: 24px;
}

.card-entry input {
  width: 700px;
}

.card-column {
  width: 310px;
  margin: 5px;
  height: 500px;
  float: left;
  overflow-y: scroll;
}

.card {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

  border: 1px solid #000;
  margin: 10px 0;
  padding: 10px;
}

.negative .card {
  border-color: @red-dark;
  background-color: @red;
}

.neutral .card {
  border-color: @yellow-dark;
  background-color: @yellow;
}

.positive .card {
  border-color: @green-dark;
  background-color: @green;
}
