@import "mixins.lessimport";
@import "colors.lessimport";
@import "sizes.lessimport";

body {
  color: @body-text;
  background-color: @background;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.buttonBar {
  float: right;
}

.content {
  width: @contentWidth;
  padding: 10px;
  margin: 20px auto;
}

.clear {
  clear: both;
}

.card-entry, .card-entry input {
  padding: 5px;
  font-size: 24px;
}

.card-entry input {
  width: @contentWidth - 200px; // TODO(*) calculate this
  border: none;
  border-bottom: 2px solid @body-text;
  background-color: inherit;
  outline: none;
}

.card-entry .wide {
  float: left;
}

.card-entry-status {
  background-color: rgba(200,200,200,0.8);
  border: 2px solid gray;
  float: right;
  height: 25px;
  margin: 14px 14px 0 0;
  width: 25px;
}

.card-entry-status {
  .transition(background-color 0.3s ease-out);
}

.card-entry.negative .card-entry-status {
  background: @red;
  border-color: @red-dark;
}

.card-entry.neutral .card-entry-status {
  background: @yellow;
  border-color: @yellow-dark;
}

.card-entry.positive .card-entry-status {
  background: @green;
  border-color: @green-dark;
}

.card-column {
  width: @columnWidth;
  margin: 10px;
  height: @contentHeight;
  float: left;
  overflow-y: auto;
}
