@import "mixins.lessimport";
@import "colors.lessimport";

body {
  color: @body-text;
  background-color: @background;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.buttonBar {
  float: right;
}

.content {
  width: 960px;
  padding: 10px;
  margin: 60px auto 0;
}

.clear {
  clear: both;
}

.card-field {
  height: 600px;
}

.card-field .card {
  .transition(background-color 0.3s ease-out);
}

.card-entry, .card-entry input {
  padding: 5px;
  font-size: 24px;
}

.card-entry input {
  width: 700px;
  border: none;
  border-bottom: 2px solid @body-text;
  background-color: inherit;
  outline: none;
}

.card-column {
  width: 310px;
  margin: 5px;
  height: 500px;
  float: left;
  overflow-y: scroll;
}

.card {
  background-color: white;
  border: 1px solid #000;
  .border-radius(3px);
  margin: 10px 0;
}

.card-content {
  margin: 10px 15px;
}

.card-stripe {
  height: 5px;
  width: 100%;
}

.negative .card-stripe {
  background-color: @red-dark;
}

.neutral .card-stripe {
  background-color: @yellow-dark;
}

.positive .card-stripe {
  background-color: @green-dark;
}

.negative .card {
  border-color: @red-dark;
}

.neutral .card {
  border-color: @yellow-dark;
}

.positive .card {
  border-color: @green-dark;
}
